.about {
  margin: 20px 3%;
  padding: 0 2%;

  h1 {
    color: $tertiary-color;
    font-size: 1.6rem;
  }
}

.skills {
  &__buttons {
    width: 100%;
    @include flex(row, space-between, center);
    flex-wrap: wrap;
  }
}
