.about {
  h1 {
    color: $tertiary-color;
    font-size: 1.6rem;
    margin-top: 25px;
  }
}

.skills {
  &__buttons {
    width: 100%;
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    @include for-tablet-up {
      @include flex(row, flex-start, center);
    }
  }
}
