.nav {
  height: 45px;
  position: sticky;
  top: -1px;
  background-color: $primary-color;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  @include flex();

  ul {
    @include flex();
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  li {
    list-style-type: none;
    margin: auto;

    a {
      color: $white;
      opacity: 0.6;
      text-decoration: none;

      &:hover {
        opacity: 1;
        font-weight: bold;
      }
    }

    .nav__active {
      opacity: 1;
      font-weight: bold;
    }
  }
}
