@import '~antd/dist/antd.css';

.header {
  margin: 5px 2%;
  @include flex();
  max-height: 200px;

  &__caption {
    margin: 10px 2%;
    @include flex(column);
  }

  &__avatar {
    margin: 10px 2%;
  }

  &__name {
    font-size: 1.6rem;
  }

  &__icons {
    font-size: 1.8rem;
    margin: 10px 2%;
    width: 100%;
    @include flex(row, space-evenly, center);
  }
}